#horizontal-menu-bar-container .dropdown:hover .dropdown-menu {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
    max-height: 600px !important;
    transition: unset !important;
}
