

<<borrowers.firstname>> <<borrowers.surname>>
<<borrowers.address>>
<<borrowers.address2>>
<<borrowers.city>>, <<branches.branchstate>> <<borrowers.zipcode>>
<div>


Dear <<borrowers.firstname>> <<borrowers.surname>>,

The following long overdue item(s) is/are being billed to your library account:

<item>"<<biblio.title>>" by <<biblio.author>>, <<items.itemcallnumber>>, Barcode: <<items.barcode>>  USD<<items.replacementprice>> DUE: <<issues.date_due>>   

According to our records, you borrowed library materials that are now more than 30 days overdue.  Your library account is being charged the replacement costs.   Return of an item in good condition can clear it's fee.   Since your account is more than 30 days overdue, you will not be able to use your library card until this issue is resolved.  

If you believe that we have sent this message in error, please contact  us as soon as possible so we can resolve the problem.

Thank-you for your prompt attention to this matter.

<<branches.branchname>> 
<<branches.branchphone>>
 <<branches.branchemail>>

Member of the Chinook Library Network